  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/2a/c4/77/2ac477bc2708882901461560be69b9ab.jpg);">

  <div class="container">
    <h1>Our stories</h1>
    <h3><%= link_to "Add a story", new_story_path, class: "btn btn-primary btn-lg" %></h3>
  </div>
</div>
