  <h1>My fav <span>stories</span></h1>

</div>

<div class="row">
  <% @stories.each do |story|%>
        <div class="col-12 col-md-6 col-lg-3">

    <div class="card-category" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to story.name.capitalize, story_path(story), class: "text-white text-decoration-none" %>
</div>
</div>
  <% end %>

