  <h1>Image <span>Uploads</span></h1>


   <a class="nav-link" href=""><%= link_to "Add a new picture", new_story_path %> </a>

  <div class="row">
      <% @stories.each do |story|%>
      <div class="card-category"
      style="background-image: url('<%= cl_image_path story.photos[0].key, height: 200, width: 300, crop: :fill %>')">
      <%= link_to story.name.capitalize, story_path(story), class: "text-white text-decoration-none" %>
    </div>
    <br>
  <% end %>
</div>
</div>
