<!-- app/views/restaurants/_form.html.erb -->
<div class="container">

<h1>My pictures </h1>
<h5>Add your travel pictures here</h5>
<%= simple_form_for(@story) do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
